[Unit]
Description=Named network namespace bridge %I
After=syslog.target network.target
Before=systemd-netns@%i.service %i.service
BindsTo=systemd-netns@%i.service
PartOf=%i.service

[Service]
Type=oneshot
RemainAfterExit=true

# Create system process
ExecStartPre=-/usr/bin/env sysctl -w net.ipv4.ip_forward=1
ExecStart=/usr/bin/env ip link add name br-%i type bridge
ExecStart=/usr/bin/env ip link set br-%i up
ExecStart=-/usr/local/bin/br-%i start

ExecStop=-/usr/local/bin/br-%i stop
ExecStop=/usr/bin/env ip link set br-%i down
ExecStop=/usr/bin/env ip link del name br-%i type bridge

[Install]
WantedBy=multi-user.target
WantedBy=network-online.target
